<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    table, th, td {
      border:1px solid black;
    }
</style>

<body>
    <form action="/useremail" align="right" method="post">
        <label for="email">Email</label>
        <input type="text" id="email" name="useremail" placeholder="Insert your email">
        <input type="submit" value="Submit">
    </form>
    <div id="stock-chart" style="width: 600px;height:400px;" align="center"></div>
    <div class="table-section" align="center">
        <table id="assets-table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Apple</th>
                    <th>Google</th>
                    <th>Amazon</th>
                    <th>Bitcoin</th>
                    <th>Ethereum</th>
                    <th>Maker</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/jquery-3.6.1.min.js"></script>
    <script src="/static/js/request-utils.js"></script>
    <script src="/static/js/index.js"></script>
</body>

</html>